<!--Hero  -->
<section class="hero-section container" id="Home">
    <h1 class="hero-title">Main Craft: <span class="span-title">The Last World</span></span></h1>
    <p class="hero-text">Build, Survive, and Explore! Enter a limitless pixel world
        where creativity meets survival challenges!</p>
    <p class="hero-main-text">Start Your Crafting Adventure Today!</p>
    <a href="https://play.google.com/store/apps/details?id=com.apptool.mod.craft.vvip&hl=en&gl=us" target="_blank"
        class="btn-google">
        <img class="logo-img" src="../img/pic/hero/Logo.png" alt="Logo">
        <img class="text-img" src="../img/pic/hero/Text.png" alt="Google play"></a>


</section>
<!-- Benefits -->
<section class="benefits-section container" id="Benefits">
    <h2 class="subtitle">Benefits</h2>
    <ul class="benefits-list">
        <li class="benefits-items">
            <img class="benefits-img" src="../img/pic/benefits/win.webp" srcset="
                  ../img/pic/benefits/win.webp,
                  ../img/pic/benefits/win-2x.webp
                " alt="Win" />
            <h3 class="item-title">Open-World Exploration:</h3>
            <p class="item-text">Roam freely in an expansive pixelated universe with endless possibilities.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="../img/pic/benefits/xz.webp" srcset="
                          ../img/pic/benefits/xz.webp,
                          ../img/pic/benefits/xz-2x.webp
                        " alt="Crafting System" />
            <h3 class="item-title">Creative Crafting System:</h3>
            <p class="item-text">Mine resources, craft unique items, and build your dream world.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="../img/pic/benefits/bottle.webp" srcset="
                          ../img/pic/benefits/bottle.webp,
                          ../img/pic/benefits/bottle-2x.webp
                        " alt="Bottle" />
            <h3 class="item-title">Survival Mode Challenges:</h3>
            <p class="item-text">Gather food, fight off threats, and fortify your shelter against dangers.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="../img/pic/benefits/multic.webp" srcset="
                          ../img/pic/benefits/multic.webp,
                          ../img/pic/benefits/multic-2x.webp
                        " alt="Multic" />
            <h3 class="item-title">Multiplayer Mode:</h3>
            <p class="item-text">Team up with friends or compete in an ever-evolving pixelated world.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="../img/pic/benefits/flag.webp" srcset="
                          ../img/pic/benefits/flag.webp,
                          ../img/pic/benefits/flag-2x.webp
                        " alt="Flag" />
            <h3 class="item-title">Diverse Biomes:</h3>
            <p class="item-text">Explore mountains, caves, forests, and hidden underground worlds.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="../img/pic/benefits/play.webp" srcset="
                          ../img/pic/benefits/play.webp,
                          ../img/pic/benefits/play-2x.webp
                        " alt="Play" />
            <h3 class="item-title">Pixel Art Aesthetics:</h3>
            <p class="item-text">Enjoy nostalgic yet modernized 3D pixel graphics that bring the world to life.</p>
        </li>

    </ul>
</section>