<!--Hero  -->
<section class="hero-section container" id="Home">
    <h1 class="hero-title">Main Craft: <span class="span-title">The Last World</span></span></h1>
    <p class="hero-text">Build, Survive, and Explore! Enter a limitless pixel world
        where creativity meets survival challenges!</p>
    <p class="hero-main-text">Start Your Crafting Adventure Today!</p>
    <a href="https://play.google.com/store/apps/details?id=com.apptool.mod.craft.vvip&hl=en&gl=us" target="_blank"
        class="btn-google">
        <img class="logo-img" src="/img/pic/hero/Logo.png" alt="Logo">
        <img class="text-img" src="/img/pic/hero/Text.png" alt="Google play"></a>


</section>
<!-- Benefits -->
<section class="benefits-section container" id="Benefits">
    <h2 class="subtitle">Benefits</h2>
    <ul class="benefits-list">
        <li class="benefits-items">
            <img class="benefits-img" src="/img/pic/benefits/win.webp" srcset="
                  /img/pic/benefits/win.webp,
                  /img/pic/benefits/win-2x.webp
                " alt="Win" />
            <h3 class="item-title">Open-World Exploration:</h3>
            <p class="item-text">Roam freely in an expansive pixelated universe with endless possibilities.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="/img/pic/benefits/xz.webp" srcset="
                          /img/pic/benefits/xz.webp,
                          /img/pic/benefits/xz-2x.webp
                        " alt="Crafting System" />
            <h3 class="item-title">Creative Crafting System:</h3>
            <p class="item-text">Mine resources, craft unique items, and build your dream world.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="/img/pic/benefits/bottle.webp" srcset="
                          /img/pic/benefits/bottle.webp,
                          /img/pic/benefits/bottle-2x.webp
                        " alt="Bottle" />
            <h3 class="item-title">Survival Mode Challenges:</h3>
            <p class="item-text">Gather food, fight off threats, and fortify your shelter against dangers.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="/img/pic/benefits/multic.webp" srcset="
                          /img/pic/benefits/multic.webp,
                          /img/pic/benefits/multic-2x.webp
                        " alt="Multic" />
            <h3 class="item-title">Multiplayer Mode:</h3>
            <p class="item-text">Team up with friends or compete in an ever-evolving pixelated world.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="/img/pic/benefits/flag.webp" srcset="
                         /img/pic/benefits/flag.webp,
                          /img/pic/benefits/flag-2x.webp
                        " alt="Flag" />
            <h3 class="item-title">Diverse Biomes:</h3>
            <p class="item-text">Explore mountains, caves, forests, and hidden underground worlds.</p>
        </li>
        <li class="benefits-items">
            <img class="benefits-img" src="/img/pic/benefits/play.webp" srcset="
                          /img/pic/benefits/play.webp,
                          /img/pic/benefits/play-2x.webp
                        " alt="Play" />
            <h3 class="item-title">Pixel Art Aesthetics:</h3>
            <p class="item-text">Enjoy nostalgic yet modernized 3D pixel graphics that bring the world to life.</p>
        </li>

    </ul>
</section>
<!-- Game Description -->
<section class="game-section container" id="Game">
    <h2 class="game-subtitle">Game Description</h2>
    <div class="game-container">
        <p class="game-text">Welcome to Main Craft: The Last World, a dynamic sandbox adventure where your imagination
            is
            the only limit! Whether you
            prefer survival mode, where danger lurks at every turn, or creative mode, where you can construct grand
            cities
            and epic
            fortresses, this game offers the ultimate crafting experience.
        </p>
        <picture class="picture">
            <source srcset="
                    /img/pic/game/descr-pic-desc.webp    1x,
                    /img/pic/game/descr-pic-desc-2x.webp 2x
                  " media="(min-width: 1440px)" />
            <source srcset="
                    /img/pic/game/descr-pic-mob.webp   1x,
                    /img/pic/game/descr-pic-mob-2x.webp 2x
                  " media="(max-width: 1439px)" />
            <img class="game-img" src="/img/pic/game/descr-pic-mob.webp" width="343" height="196" alt="Game"
                loading="lazy" />
        </picture>
        <p class="game-text game-text-second">Break blocks, gather resources, and forge your path in an infinite world.
            Create powerful
            weapons, build advanced
            shelters, and challenge yourself with endless possibilities. Will you survive in the wild or become the
            master
            builder
            of a legendary empire?</p>
    </div>

</section>
<!-- Gallery -->
<section class="gallery container" id="Gallery">
    <h2 class="gallery-subtitle">Gallery</h2>
    <div class="custom-navigation gallery-nav">
        <button class="custom-arrow custom-prev" aria-label="Previous slide">
          
            <img
            class="arrow"
            src="/img/pic/gallery/arrow_left.png"
            alt="Arrow left"
            loading="lazy"
          />

        </button>

        <button class="custom-arrow custom-next" aria-label="Next slide">
            <img
            class="arrow"
            src="/img/pic/gallery/arrow_right.png"
            alt="Arrow right"            
            loading="lazy"
          />
        </button>
    </div>
    <div class="swiper gallery-swiper">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
            <li class="swiper-slide gallery-swiper-slide">
                <picture class="picture">
                    <source srcset="
                                    /img/pic/gallery/img-one-desc.jpg    1x,
                                    /img/pic/gallery/img-one-desc-2x.jpg 2x
                                  " media="(min-width: 1440px)" />
                    <source srcset="
                                    /img/pic/gallery/img-one-mob.jpg   1x,
                                    /img/pic/gallery/img-one-mob-2x.jpg 2x
                                  " media="(max-width: 1439px)" />
                    <img class="gallery-section" src="/img/pic/gallery/img-one-mob.jpg" width="333" height="187"
                        alt="Game" loading="lazy" />
                </picture>
            </li>
            <li class="swiper-slide gallery-swiper-slide">
                <picture class="picture">
                    <source srcset="
                                    /img/pic/gallery/img-three-desc.jpg    1x,
                                    /img/pic/gallery/img-three-desc-2x.jpg 2x
                                  " media="(min-width: 1440px)" />
                    <source srcset="
                                                    /img/pic/gallery/img-three-mob.jpg   1x,
                                                    /img/pic/gallery/img-three-mob-2x.jpg 2x
                                                  " media="(max-width: 1439px)" />
                    <img class="gallery-section" src="/img/pic/gallery/img-three-mob.jpg" width="333" height="187"
                        alt="Game" loading="lazy" />
                </picture>
            </li>
            <li class="swiper-slide gallery-swiper-slide">
                <picture class="picture">
                    <source srcset="
                                    /img/pic/gallery/img-four-desc.jpg    1x,
                                    /img/pic/gallery/img-four-desc-2x.jpg 2x
                                    " media="(min-width: 1440px)" />
                    <source srcset="
                                     /img/pic/gallery/img-four-mob.jpg   1x,
                                    /img/pic/gallery/img-four-mob-2x.jpg 2x
                                   " media="(max-width: 1439px)" />
                    <img class="gallery-section" src="/img/pic/gallery/img-four-mob.jpg" width="333" height="187"
                        alt="Game" loading="lazy" />
                </picture>
            </li>
            <li class="swiper-slide gallery-swiper-slide">
                <picture class="picture">
                    <source srcset="
                                    /img/pic/gallery/img-two-desc.jpg    1x,
                                    /img/pic/gallery/img-two-desc-2x.jpg 2x
                                    " media="(min-width: 1440px)" />
                    <source srcset="
                                    /img/pic/gallery/img-two-mob.jpg   1x,
                                    /img/pic/gallery/img-two-mob-2x.jpg 2x
                                    " media="(max-width: 1439px)" />
                    <img class="gallery-section" src="/img/pic/gallery/img-two-mob.jpg" width="333" height="187"
                        alt="Game" loading="lazy" />
                </picture>
            </li>

        </ul>


            <div class="pag_container">
                <div class="pag_bar"></div>

        </div>
    </div>

</section>
<!-- Key Features -->
 <section class="key-features-section container" id="Key">
  <h2 class="key-subtitle">Key Features</h2>
  <ul class="key-list">
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">1</p>
      </div>
      <h3 class="key-title">Endless Sandbox World: </h3>
      <p class="key-text">Explore, create, and modify a massive pixelated environment.</p>
    </li>
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">2</p>
      </div>
      <h3 class="key-title">Advanced Crafting System: </h3>
      <p class="key-text">Build tools, craft weapons, and design unique structures.</p>
    </li>
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">3</p>
      </div>
      <h3 class="key-title">Customizable Characters:  </h3>
      <p class="key-text">Personalize your avatar with skins, outfits, and gear.</p>
    </li>
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">4</p>
      </div>
      <h3 class="key-title">Survival & Creative Modes:</h3>
      <p class="key-text">Face survival challenges or unleash unlimited creativity.</p>
    </li>
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">5</p>
      </div>
      <h3 class="key-title">Multiplayer Gameplay: </h3>
      <p class="key-text">Join forces with other players for an even bigger adventure.</p>
    </li>
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">6</p>
      </div>
      <h3 class="key-title">Dynamic Weather & Day/Night Cycles: </h3>
      <p class="key-text">Experience an evolving world with real-time environmental changes.</p>
    </li>
    <li class="key-item">
      <div class="key-container">
        <p class="numbers">7</p>
      </div>
      <h3 class="key-title">Hidden Treasures & Secrets: </h3>
      <p class="key-text">Discover underground dungeons, lost temples, and rare resources.</p>
    </li>
  </ul>
 </section>
 <!--Main Characters  -->
 <section class="characters-section container" id="Main">
    <h2 class="characters-title">Main Characters</h2>
    
        <ul class="characters-list">
            <li class="characters-item">
                
                <img
                class="characters-img"
                src="/img/pic/characters/crafter.webp"
                srcset="/img/pic/characters/crafter.webp,
                /img/pic/characters/crafter-2x.webp"
                alt="Crafter"
                width="220"
                height="220"
                loading="lazy"
              />
                
              <h3 class="characters-name">The Crafter: </h3>
              <p class="characters-text">A fearless explorer and builder ready to conquer new worlds.</p>
            </li>
            <li class="characters-item">
                
                <img
                class="characters-img"
                src="/img/pic/characters/beast.webp"
                srcset="/img/pic/characters/beast.webp,
                /img/pic/characters/beast-2x.webp"
                alt="Beast"
                width="220"
                height="220"
                loading="lazy"
              />
                
              <h3 class="characters-name">Shadow Beast:  </h3>
              <p class="characters-text">A dangerous creature lurking in the dark, testing your survival skills.</p>
            </li>
            <li class="characters-item">
                
                <img
                class="characters-img"
                src="/img/pic/characters/merchant.webp"
                srcset="/img/pic/characters/merchant.webp,
                /img/pic/characters/merchant-2x.webp"
                alt="Merchant"
                width="220"
                height="220"
                loading="lazy"
              />
                
              <h3 class="characters-name">The Merchant: </h3>
              <p class="characters-text">A mysterious trader offering valuable resources and rare items.</p>
            </li>
            <li class="characters-item">
               
                <img
                class="characters-img"
                src="/img/pic/characters/bandit.webp"
                srcset="/img/pic/characters/bandit.webp,
                /img/pic/characters/bandit-2x.webp"
                alt="Bandit"
                width="220"
               height="220"
                loading="lazy"
              />
               
              <h3 class="characters-name">Rogue Bandits: </h3>
              <p class="characters-text">Rival players or NPCs who will challenge your skills and defenses.</p>
            </li>
        </ul>

  
 </section>
 <!-- Reviews -->
  <section class="reviews-section container" id="Reviews">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="rewiews-list">
      <li class="rewiews-items">
        <img
                class="rewiews-img"
                src="/img/pic/rewiews/avat-one.webp"
                srcset="/img/pic/rewiews/avat-one.webp,
                /img/pic/rewiews/avat-one-2x.webp"
                alt="Crafter"
                width="60"
                height="60"
                loading="lazy"
              />
                
              <h3 class="rewiews-name">Alex G.: </h3>
              <p class="rewiews-text">"An incredible sandbox experience! The crafting system is deep, and survival mode keeps me on my toes."</p>
      </li>
      <li class="rewiews-items">
        <img
                class="rewiews-img"
                src="/img/pic/rewiews/avat-two.webp"
                srcset="/img/pic/rewiews/avat-two.webp,
                /img/pic/rewiews/avat-two-2x.webp"
                alt="Crafter"
                width="60"
                height="60"
                loading="lazy"
              />
                
              <h3 class="rewiews-name">Jessica M.: </h3>
              <p class="rewiews-text">"I love the open-world freedom. I can build whatever I imagine! The pixel graphics are nostalgic yet modern."</p>
      </li>
      <li class="rewiews-items">
        <img
                class="rewiews-img"
                src="/img/pic/rewiews/avat-three.webp"
                srcset="/img/pic/rewiews/avat-three.webp,
                /img/pic/rewiews/avat-three-2x.webp"
                alt="Crafter"
                width="60"
                height="60"
                loading="lazy"
              />
                
              <h3 class="rewiews-name">Daniel R.: </h3>
              <p class="rewiews-text">"The survival mechanics make the game thrilling, and multiplayer mode adds even more fun!"</p>
      </li>
      <li class="rewiews-items">
        <img
                class="rewiews-img"
                src="/img/pic/rewiews/avat-four.webp"
                srcset="/img/pic/rewiews/avat-four.webp,
                /img/pic/rewiews/avat-four-2x.webp"
                alt="Crafter"
                width="60"
                height="60"
                loading="lazy"
              />
                
              <h3 class="rewiews-name">Sophie K.: </h3>
              <p class="rewiews-text">"Great game for both casual and hardcore players. Exploring new biomes is always exciting!"</p>
      </li>
      <li class="rewiews-items">
        <img
                class="rewiews-img"
                src="/img/pic/rewiews/avat-five.webp"
                srcset="/img/pic/rewiews/avat-five.webp,
                /img/pic/rewiews/avat-five-2x.webp"
                alt="Crafter"
                width="60"
                height="60"
                loading="lazy"
              />
                
              <h3 class="rewiews-name">Lucas B.: </h3>
              <p class="rewiews-text">"A must-play for fans of block-building games. The crafting possibilities are endless!"</p>
      </li>
    </ul>
  </section>