:root {
  --blue:  #9ac7e1;
  --grey: #f0f5fe;
  --yellow: #ffc954;
  --white: #fdfdfd;
  --black: #1c1c1c;
}
body {
  font-family: 'Kode Mono', 'Pixelify Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.04em;
}


