.header {
  background-color: var(--black);
  position: fixed;
  top: 0px;
  left: 40%;
  transform: translateX(-40%);
  z-index: 500;
  height: 48px;
  width: 100%;
}
.header-container {
  padding: 12px 17px;
}

.menu-button {
  display: block;
  background-color: inherit;
  width: 24px;
  height: 24px;
  border: none;
  margin-left: auto;
  margin-right: 24px;
}
.navigation-list {
  display: none;
}

.modal {
  display: none;
  max-height: 604px;
  width: 343px;
  background: var(--black);
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 88px 61px 46px;
  transition: visibility 0.3s ease;
}
.modal-close-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  margin-left: 230px;
  position: absolute;
  top: 10px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.menu-list-item {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: var(--white);
}
.list-condition {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.06em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--grey);
}
.menu-list-item:active {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  color: var(--yellow);
}
@media screen and (min-width: 1440px) {
  .header-container {
    padding: 14px 134px;
  }
  .navigation-list {
    display: flex;
    justify-content: space-between;
  }
  .links {
    color: var(--white);
    font-family: 'Kode Mono', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.06em;
  }
  .menu-button {
    display: none;
  }
  .links {
    position: relative;
  }
  .links:hover::before,
  .links:hover::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--yellow);
  }
  .links:hover::before {
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .links:hover::after {
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .links:active {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    color: var(--yellow);
  }
}
