.header {
  background-color: var(--black);
  position: relative;
  height: 48px;
}
.menu-button {
  background-color: inherit;
  width: 24px;
  height: 24px;
  border: none;
  margin-left: 327px;
  margin-top: 12px;
}
.navigation-list {
  display: none;
}

.modal {
  display: none;
  max-height: 604px;
  width: 343px;
  background: var(--black);
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 88px 61px 46px;
  transition: visibility 0.3s ease;
}
.modal-close-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  margin-left: 230px;
  position: absolute;
  top: 10px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.menu-list-item {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: var(--white);
}
.list-condition {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.06em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--grey);
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 9px 80px;
  }
  .navigation-list {
    display: flex;
    justify-content: space-between;
  }
  .links {
    color: var(--white);
    font-family: 'Kode Mono', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.06em;
  }
  .menu-button {
    display: none;
  }
  .links {
    position: relative;
  }
  .links:hover::before,
  .links:hover::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--yellow);
  }
  .links:hover::before {
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .links:hover::after {
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .links:active {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    color: var(--yellow);
  }
}

/* .nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
} */
