@import url('./reset.css');
@import url('./base.css');
@import url('./footer.css');

.terms-body {
  background-color: var(--white);
}
.terms-container {
  padding: 32px 16px 40px;
  font-family: 'Kode Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.06em;
  color: #1c1c1c;
  align-items: start;
  min-width: 343px;
  height: auto;
}
.back-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 173px;
  height: 24px;
  margin-bottom: 24px;
}
.link-home {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.06em;
  text-align: center;
  color: var(--black);
}
.terms-title-main {
  font-size: 36px;
  margin-bottom: 32px;
}
.terms-list {
  list-style-type: disc;
  margin-left: 18px;
  margin-bottom: 10px;
}
.terms-link {
  color: -webkit-link;
  text-decoration: underline;
  margin-left: 50px;
}
.terms-title {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.06em;
  color: var(--black);
  margin-bottom: 16px;
  margin-top: 20px;
}
@media screen and (min-width: 1440px) {
  .terms-container {
    padding: 56px 189px 40px;
    min-width: 1060px;
  }
  .terms-title-main {
    font-size: 52px;
    margin-bottom: 40px;
  }
  .terms-list {
    margin-bottom: 15px;
  }
}
